
/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: 'PT Sans', sans-serif;

}
:root{
	--bg-color: #2d3436;
	--heading-color:rgb(255, 207, 118);
	--font-family-heading: 'Oswald', sans-serif;
	--social-icon-color:tomato;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--gray-color:#868e96;
	--box-shadow-color:rgba(0, 0, 0, 0.1);

}
img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
} 
.spacial-controls {
	position: fixed;
	width: 111px;
	height: 91px;
	top: 0;
	right: 0;
	z-index: 999;
}

/* end defuilt css */


/* mobile-menu start */
.nav-switch-warp {
	display: none;
	width: 50%;
	background: var(--heading-color);
	padding-top: 17px;
	padding-left: 15px;
	-webkit-box-shadow: 0 0 20px var(--box-shadow-color);
	box-shadow: 0 0 20px var(--box-shadow-color);
	float: right;
	margin-left: 4rem;
	margin-top: 3px;
}

.nav-switch {
	display: block;
	width: 40px;
	height: 31px;
	padding-top: 14px;
	position: relative;
	cursor: pointer;
}

.nav-switch .ns-bar {
	width: 30px;
	height: 3px;
	background: #000;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-switch .ns-bar:after,
.nav-switch .ns-bar:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	background: #000;
	left: 0;
	bottom: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
/* mobile-menu */

.nav-switch .ns-bar:before {
	bottom: auto;
	top: 0;
}

.nav-switch:hover .ns-bar {
	width: 100%;
} 

/*------------------
  Header section
---------------------*/

.header-section {
	position: fixed;
	width: 350px;
	height: 100%;
	left: 0;
	top: 0;
	background: var(--heading-color);
	z-index: 9999;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.header-close {
	display: none;
	position: absolute;
	width: 35px;
	height: 35px;
	border: 1px solid #a9a9a9;
	border-radius: 50%;
	text-align: center;
	padding-top: 4px;
	right: 25px;
	top: 10px;
	color: #999;
}

.header-warp {
	margin-bottom: 250px;
}

.site-logo {
	display: block;
	padding-left: 65px;
	padding-top: 38px;
	margin-bottom: 84px;
}
.site-logo img{
	width: 200px;
	height: 200px;
}

.menu-icon {
	padding-left: 63px;
	margin-bottom: 29px;
}

.main-menu {
	list-style: none;
	margin-bottom: 65px;
}
.main-menu li{
	text-align: center;
}

.main-menu li a {
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	margin-bottom: 20px;
	position: relative;
}

.main-menu li.active a {
	border-bottom: 4px solid #000000;
	color: #000000;
}
.main-menu li a:active{
	color: #000000;
}
.main-menu li a:hover{
	color: #000000;
	border-bottom: 4px solid #000000;
}


/* home-page */
.main-warp {
	height: 100%;
	padding-left: 350px;
	background-color: var(--bg-color);
}
.page-section {
	min-height: 100%;
}

.home-page {
	height: 100%;
	position: relative;
	z-index: 10000;
}

   
.home_page_heading{
    color: var(--heading-color);
    font-size: 4rem;
    font-weight: 700;
    padding-top: 5rem;
    line-height: 5rem;
	font-family: var(--font-family-heading);
	backface-visibility: hidden;
	overflow: hidden;
    

}
.subheading{
    font-size: 20px;
    font-family: var(--font-family-heading);

}
.subheading a{
    color: var(--heading-color);
    font-size: 23px;
    font-family: var(--font-family);
    line-height: 35px;

}
.para-1{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}
.social-icons a{
    padding: 12px;
	font-size: 25px;
	color: white;
	background-color: #5a5e61;
	border-radius: 50%;
    margin-right: 10px;

}
.social-icons a:hover{
    background-color: rgb(252, 82, 52);
}
.social-icons{
	padding-top: 2rem;
}

/* ------About-page */

#about{
	background-color: var(--bg-color);
}
#abou_page{
	background-color: var(--bg-color);
	
}
#about-1{
	background-color: var(--bg-color);
}
.abou_page h1{
    font-size: 80px;
    font-weight: 700;
    color: var(--heading-color);
    padding-left: rem;
    font-family: var(--font-family-heading);
}
.about-left{
    float: right!important;
    margin-left: 0px;
    margin-top: 3rem;
}
.about-left img{
    border: 10px solid var(--heading-color);
    
}
.about-right {
    color: white;
    padding-top: 3rem;

}
.about-right h2{
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--font-family-heading);
	line-height: 60px;
	color: white;
	padding-bottom: 1rem;
	
}
.about-right p{
	font-size: 17px;
	color: white;
}
.about-right a{
    color: var(--heading-color);
    text-decoration: none;
}
.new h2{
    color: white;
    font-family: var(--font-family-heading);
    font-size: 50px;

    
}
.new .heading-3{
    color: var(--gray-color);
    font-size: 1.5rem;
    font-weight: 300;
    font-family: var(--font-family-heading);
}
.icons-web{
    font-size: 2.5rem;
    color: var(--gray-color);
}
.icons-web i:hover{
    color: tomato;
}
.new .headin-4{
    color: var(--gray-color);
    font-size: 23px;
    font-weight: 500;
    font-family: var(--font-family-heading);
}
.fa-ul{
    color: var(--gray-color);
    font-size: 18px;
}


/* End About-page */



/* career */
#study{

	background-color: var(--bg-color);
    
}
.home-page h1{
    color: var(--heading-color);
    font-size: 5rem;
    text-transform: uppercase;
    font-family: var(--font-family-heading);
    font-weight: 700;
    

}
.study h2{
    color: white;
    font-size: 3rem;
    font-family: ;
    font-family: var(--font-family-heading);
    font-weight: 500;
    text-transform: uppercase;
}
.study h3{
    color: white;
    font-size: 2rem;
    font-family: ;
    font-family: var(--font-family-heading);
    font-weight: 500;
    text-transform: uppercase;
}
.study .subheading{
    color: var(--gray-color);
    padding-top: ;
    font-size: 22px;
    text-transform: uppercase;
}
.study p{
    color: white;
    padding-top: em;
    text-transform: uppercase;
    font-size: 20px;
}
.study .text-primary{
    color: rgb(255, 207, 118) !important;
}


/* end carrer */

.about-page {
	background: #f7f9fb;
	padding-top: 190px;
	height: auto;
}

.about-warp {
	max-width: 1260px;
	padding: 0 47px 105px;
	padding-left: 135px;
}

.about-text {
	padding-right: 60px;
}

.about-text span {
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	color: #898d90;
	letter-spacing: 2px;
}

.about-text h2 {
	margin-bottom: 30px;
	font-size: 48px;
}

.about-text p {
	margin-bottom: 110px;
}

/* courses page */
.card-body .card-title{
	font-size: 18px;
	color: var(--heading-color);
	line-height: 30px;
	font-weight: 400;
}
.card-body .btn{
	font-size: 20px;
}
.card-footer small{
	font-size: 15px;
}
.courses-page{
	background-color: var(--bg-color);
}

/* end courses page */

/* contact us form */
.section-gape .row  h3{
	color: white;
}

  .study .row h3{
	font-size: 30px;
	line-height: 35px;
  }
  h3::first-word {
	float: left;
	font-size: 500%;
	margin: 0 10px 10px 0;
	color: red;
  }
  .word::first-letter{
	font-size: 500%;
	color: var(--heading-color);
	float: left;
	margin: 0 10px 10px 0;
	line-height: 130px;
	font-weight: 700;
	
  }
  .study .para-4{
	font-size: 20px;
	color: var(--heading-color);
	font-weight: 500;
	padding-left: 8rem;
  }
 
  @media (max-width: 768px) {
	.study h3{
	  padding: 55px 45px 68px 45px;
	}
  }
  
  @media (max-width: 576px) {
	.study h3{
	  padding: 55px 15px 68px 15px;
	}
	.study .para-4{
		position: initial;
		text-overflow: bottom;
		overflow-x: hidden;
		overflow: hidden;
	}
  
	.rs1.study {
	  width: 100%;
	}

  
  }
 /* contact-us form */

@font-face {
	font-family: Raleway-SemiBold;
	src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
  }
  
  @font-face {
	font-family: Raleway-Bold;
	src: url('../fonts/raleway/Raleway-Bold.ttf'); 
  }
  
  @font-face {
	font-family: Raleway-Black;
	src: url('../fonts/raleway/Raleway-Black.ttf'); 
  }
  a {
	  font-family: Raleway-SemiBold;
	  font-size: 14px;
	  line-height: 1.7;
	  color: #666666;
	  margin: 0px;
	  transition: all 0.4s;
	  -webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
  }
  
  a:focus {
	  outline: none !important;
  }
  
  a:hover {
	  text-decoration: none;
  }
  
  /*---------------------------------------------*/
input {
	  outline: none;
	  border: none;
}
  
textarea {
	outline: none;
	border: none;
}
  
textarea:focus, input:focus {
	border-color: transparent !important;
}
  
label {
	display: block;
	margin: 0;
}
  
  
  /*==================================================================
  [ Form ]*/
  
.contact100-form {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 6rem;
  }
  /*------------------------------------------------------------------
  [ Input ]*/
  
.wrap-input100 {
	width: 100%;
	position: relative;
	border: 1px solid var(--heading-color);
	border-radius: 2px;
	margin-bottom: 34px
}
.wrap-input100:hover{
	border: 1px solid white;
}
  
.rs1.wrap-input100 {
	width: calc((100% - 40px) / 2);
}
  
  
.label-input100 {
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: var(--heading-color);
	line-height: 1.5;
	text-transform: uppercase;
	width: 100%;
  
	padding-bottom: 11px;
 }
  
.input100 {
	display: block;
	width: 100%;
	background: transparent;
	font-family: Raleway-SemiBold;
	font-size: 18px;
	color: white;
	line-height: 1.2;
	padding: 0 25px;
}
  
input.input100 {
	height: 55px;
}

textarea.input100 {
	min-height: 162px;
	padding-top: 19px;
	padding-bottom: 15px;
}
  
  /*------------------------------------------------------------------
  [ Button ]*/
.example_c {
	color: black !important;
	text-transform: uppercase;
	text-decoration: none;
	background: var(--heading-color);
	padding: 10px;
	padding-left: 2em;
	padding-right: 2em;
	border: 2px solid var(--heading-color) !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	}
	.example_c:hover {
	  color: white !important;
	  background: transparent;
	  border-color: var(--heading-color)!important;
	  transition: all 0.4s ease 0s;
	}
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 768px) {
	.wrap-contact100 {
	  padding: 55px 45px 68px 45px;
	}
  }
  
  @media (max-width: 576px) {
	.wrap-contact100 {
	  padding: 55px 15px 68px 15px;
	}
  
	.rs1.wrap-input100 {
	  width: 100%;
	}
  
  }


/* ----------------
  Responsive
---------------------*/

@media (max-width: 1770px) {
	

}

@media (max-width: 1350px) {
	.about-warp {
		padding-left: 30px;
		padding-right: 60px;
	}
	.about-text {
		padding-right: 0;
	}
	
	.contact-text {
		padding-left: 40px;
		padding-right: 30px;
	}
	.map-warp {
		padding-left: 0;
	}
	

}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-section {
		width: 300px;
	}
	.main-warp {
		padding-left: 300px;
	}
	.about-image {
		margin-bottom: 100px;
		margin-left: 15px;
	}
	
	.contact-text {
		padding-left: 30px;
		padding-right: 30px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.spacial-controls {
		width: 200px;
		height: 85px;
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.spacial-controls .search-switch {
		width: 50%;
	}
	.nav-switch-warp {
		display: block;
		padding-top: 25px;
		padding-left: 30px;
	}
	.header-section {
		left: -150%;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		overflow-y: auto;
	}
	.header-section.active {
		left: 0;
		opacity: 1;
		visibility: visible;
	}
	.header-section.active .header-close {
		position: fixed;
	}
	.header-close {
		display: block;
	}
	.main-warp {
		padding-left: 0;
	}
	.home-page {
		z-index: 1;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.spacial-controls {
		width: 150px;
		height: 65px;
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.spacial-controls .search-switch {
		width: 50%;
		padding-top: 18px;
	}
	.nav-switch-warp,
	.header-close {
		display: block;
	}
	.header-section {
		left: -150%;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		overflow-y: auto;
	}
	.header-section.active {
		left: 0;
		opacity: 1;
		visibility: visible;
	}
	.header-section.active .header-close {
		position: fixed;
	}
	.header-warp {
		margin-bottom: 50px;
	}

	
	.main-warp {
		padding-left: 0;
	}
	.home-page {
		z-index: 1;
	}


/* Medium Mobile :480px. */

@media only screen and (min-width: 576px) and (max-width: 766px) {
	.slider-item .si-text-box {
		width: 470px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.slider-item {
		padding: 0 15px;
	}
}
